DATABASE_URL=postgresql://postgres.raevfbjqxgrikyxnkcta:NextStep_AI_%40%40@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres
ADMIN_API_KEY=Y8hUejjbv3Qwjdj9x2dXn/QYInBu4hGkI3Cu40OLfkE=
ADMIN_PANEL_ORIGIN=http://localhost:8000

STUDY_PLAN_UPLOADED_BY=1